.no-webp .imagen-contactar{
    background-image: url(../../../build/img/encuentra.jpg);
}
.webp .imagen-contactar{
    background-image: url(../../../build/img/encuentra.webp);
}
.imagen-contactar{
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $separacion*2 0;
    h2{
        color: $blanco;
        font-size: 4rem;
        font-weight: $black;
    }
    p{
        color: $blanco;
        font-size: 1.8;
    }
}