.formulario{
    p{
        font-size: 1.4rem;
        margin: 2rem 0 0 0;
        color: $grisOscuro;
    }
    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }
    label{
        display: block;
        text-transform: uppercase;
        font-weight: $bold;
    }
    input:not([type="submit"]),textarea,select{
        padding: 1rem;
        width: 100%;
        border: 1px solid $gris;
        background-color: $blanco;
        border-radius: 1rem;
        margin-bottom: 2rem;
        display: block;
    }   
    textarea{
        height: 20rem;
    }
    .forma-contacto{
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input[type="radio"]{
        margin: 0;
        width: auto;
    }
}